.regex-input-container {
  padding: 0.5em 1em;
  color: gray;
  font-family: monospace;
  font-weight: bold;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  input[type="text"] {
    min-width: 0;
    background-color: transparent;
    border: none;
    height: 2em;
    padding: 0.5em;

    font-family: monospace;
    font-weight: bold;
    &:focus {
      outline: none;
    }
  }
  &.valid {
    background: #b8db85;
  }
  &.invalid {
    background: #e0a9a9;
  }
}

h2 .score {
  font-size: 1rem;
}

.flags-container {
  display: flex;
  align-items: center;
  padding: 0.5em 1em;

  background: #e3e3e3;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  div.regex-input-valid {
    display: inline-block;
    margin-left: auto;
  }
}

form {
  button {
    border: none;
    margin: 4px;
    height: 2em;
    width: 2em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    &:hover {
      cursor: pointer;
    }
    &.active {
      background-color: #b8db85;
    }
    &.inactive {
      background-color: lightgray;
    }
    &:focus {
      outline: 0;
    }
  }
}
