@import '../variables';

.pageContainer {
  display: flex;
  flex-direction: column;

  width: 1200px;
  max-width: 90%;
  margin: auto;

  color: $muted-text-color;
}

.contentContainer {
  margin-top: 2rem;
}
