/* -------------------------------------------------------------------------- */
/*                                 Typography                                 */
/* -------------------------------------------------------------------------- */

$doc-font-size: 16 !default;

/* system typefaces */
$serif: Georgia, Times, serif !default;
$sans-serif: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI',
  'Helvetica Neue', 'Lucida Grande', Arial, sans-serif !default;
$monospace: Monaco, Consolas, 'Lucida Console', monospace !default;

/* type scale */
$font-size-1: 2.441rem !default; // ~39.056px
$font-size-2: 1.953rem !default; // ~31.248px
$font-size-3: 1.563rem !default; // ~25.008px
$font-size-4: 1.25rem !default; // ~20px
$font-size-5: 1rem !default; // ~16px
$font-size-6: 0.75rem !default; // ~12px
$font-size-7: 0.6875rem !default; // ~11px
$font-size-8: 0.625rem !default; // ~10px

/* -------------------------------------------------------------------------- */
/*                                   Colors                                   */
/* -------------------------------------------------------------------------- */

$light-gray: #f8f8f8 !default;
$dark-gray: #717171 !default;
$black: #252525 !default;

$background-color: $light-gray !default;
$text-color: $black !default !default;
$muted-text-color: mix(#fff, $text-color, 20%) !default !default;
