@import '../variables.scss';

.section {
  width: 80%;
  margin: auto;
  margin-top: 50px;

  h2 {
    font-size: $font-size-2;
  }
  h3 {
    font-size: $font-size-4;
    font-weight: normal;
    color: $muted-text-color;
  }
  hr {
    width: 30%;
    max-width: 200px;
    margin-left: 0;
  }
  a,
  p {
    display: block;
    color: $text-color;
    font-weight: bold;
    font-size: $font-size-4;
    line-height: 1.2em;
    margin: 1em 0;
    span {
      color: $muted-text-color;
      margin-left: 1ch;
      font-weight: normal;
    }
  }
}
