@import "../variables.scss";

.breadcrumbs {
  a,
  p,
  span {
    display: inline-block;

    color: $muted-text-color;
    font-size: $font-size-6;
    font-weight: normal;
  }

  .roadmap {
  }
  .currentLevel {
  }

  .currentLesson {
    text-decoration: underline;
  }

  .nextTitle {
    color: $muted-text-color;
  }

  .nextLevel {
    color: $muted-text-color;
    font-weight: bold;
  }
}
