#root {
  margin: auto;
  width: 70%;
  max-width: 1600px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div.regex-test {
  margin: 1em 0;
  padding: 1em;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  &.matcheable {
    &.successful {
      background-color: #b8db85;
    }
  }
  &.non-matcheable {
    &.successful {
      background-color: #db8585;
    }
  }
  p {
    letter-spacing: 2px;
    padding-left: 2px;
    display: inline;
    border-radius: 2px;
    &.matched {
      background-color: #118ab2;
      color: white;
    }
  }
}

form {
  button {
    border: none;
    margin: 4px;
    height: 2em;
    width: 2em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    &:hover {
      cursor: pointer;
    }
    &.active {
      background-color: #b8db85;
    }
    &.inactive {
      background-color: lightgray;
    }
    &:focus {
      outline: 0;
    }
  }
}

.flags-container {
  display: flex;
  align-items: center;
  padding: 0.5em 1em;

  background: #e3e3e3;
  div.regex-input-valid {
    display: inline-block;
    margin-left: auto;
  }
}

.regex-input-container {
  padding: 0.5em 1em;
  color: gray;
  font-weight: bold;
  input[type="text"] {
    min-width: 0;
    background-color: transparent;
    border: none;
    height: 2em;
    padding: 0.5em;

    font-family: monospace;
    font-weight: bold;
    &:focus {
      outline: none;
    }
  }
  &.valid {
    background: #b8db85;
  }
  &.invalid {
    background: #e0a9a9;
  }
}

h2 .score {
  font-size: 1rem;
  color: green;
}
