@import "./variables.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background-color;
  color: $text-color;
  font-size: $doc-font-size;
}

nav {
  height: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;

  text-transform: uppercase;

  font-size: $font-size-5;

  a {
    text-decoration: none;
    color: $text-color;
  }

  div.home {
    font-weight: bold;
  }

  div.sections {
    :not(:last-child) {
      margin-right: 5em;
    }
  }
}

code,
pre {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;

  background: #e8e8e8;
  font-size: 0.9em;
  padding: 0.2em 0.5em;
}

li {
  line-height: 1.5em;
}

a {
  text-decoration: none;
}
